:root {
  /* fonts */
  --font-body: "Poppins", Arial, Helvetica, sans-serif;
  --font-headline: "Poppins", "Arial Narrow Bold", sans-serif;

  /* colors */
  --primary-color: #3dbda7;
  --secondary-color: #00453f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --white: #ffffff;
  --accent-color: #067d71;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}