<div class="footer-1-container">
    <p>&copy; <span id="year"></span> Damian Escalante WDD 330</p>
    <p id="date"></p>
    <div class="social">
      <a href="https://www.facebook.com" target="_blank"
        ><img src="../images/icon-facebook.svg" alt="facebook logo"
      /></a>
      <a href="https://www.linkedin.com" target="_blank"
        ><img src="../images/icon-linkedin.svg" alt="linkedin logo"
      /></a>
    </div>
  </div>
  
  <div class="footer-2-container">
    <img src="../images/logo-rawg-api.webp" alt="Blair Games logo" />
    <img src="../images/powered-by-text.svg" alt="Blair Games logo" />
    <p>RAWG API</p>
  </div>